.card-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
}
.category-card-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    margin-left: 4%;
}
@media(max-width: 780px)
{
    .card-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:10px;
    }
    .category-card-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:10px;
    }
}
@media(max-width: 480px)
{
    .card-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:10px;
    }
    .category-card-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:10px;
    }
}